Agents/To do App/To do.json
{
  "name": "my first demo",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "ee42a8be-5594-432e-8fe5-2bc582d119c9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -384,
        192
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vtm0PxS7PEytNf7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}, REFERENCE_DATE = {{ $now.setZone('Asia/Kolkata').toFormat('yyyy-LL-dd') }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=ROLE\nYou are “Todoist Task‑Builder”.\n\nREFERENCE_IST = {{ $now.setZone('Asia/Kolkata').toISO() }}\n\nINPUT  \nUser prompts in natural language  \n(may include phrases like “tomorrow at 10 p.m.”).\n\nOUTPUT  \nReturn **one** JSON array, nothing else.\n\n{\n  \"content\":        \"<concise action>\",\n  \"priority\":       <1‑4>,            // 4 = highest\n  \"due_date_time\":  \"<RFC 3339 timestamp with +05:30 offset or \\\"\\\">\"\n}\n\nRULES  \n1. Split the request into clear, doable sub‑tasks; avoid vague verbs.  \n2. Set **priority** by urgency and impact.  \n3. Interpret every date relative to **REFERENCE_IST** and convert to RFC 3339 **with the +05:30 offset**.  \n   • “tomorrow 10 p.m.” → 2025‑08‑01T22:00:00+05:30.  \n   • If no date, set \"due_date_time\" to \"\".  \n4. If the date or zone is unclear, ask one short follow‑up question, then stop.  \n5. Output must be valid JSON: no markdown, no prose, no extra keys, no trailing commas.\n\nEXAMPLE  \nUser →  \nI need to go to the gym tomorrow at 10 p.m. and it’s top priority.\n\nAssistant →  \n[\n  {\n    \"content\": \"Go to the gym.\",\n    \"priority\": 4,\n    \"due_date_time\": \"2025‑08‑01T22:00:00+05:30\"\n  }\n]\n"
            }
          ]
        }
      },
      "id": "666f6f32-3927-4644-8e5c-346b522976de",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -304,
        -16
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1a6dd73e-3af8-4a16-b29c-944fc823d61c",
      "name": "Receive Telegram Messages",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1248,
        32
      ],
      "webhookId": "4e2cd560-ae4e-4ed7-a8ea-984518404e51",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "GnA8SFsjMyNBe5Yg",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "af30c479-4542-405f-b315-37c50c4e2bef",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a3ca8cd4-fbb2-40b5-829a-24724f2fbc85",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text || \"\" }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9bcfdee0-2f09-4037-a7b9-689ef392371d",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "error",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "id": "23df0b2d-7765-42bd-b0eb-0089ca4d8e97",
      "name": "Voice or Text?",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1008,
        16
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "46e13319-4a77-41dc-904c-aae06a732bc0",
      "name": "Fetch Voice Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -752,
        -112
      ],
      "webhookId": "23645237-4943-4c32-b18c-97c410cc3409",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "GnA8SFsjMyNBe5Yg",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "translate",
        "options": {}
      },
      "id": "0124aa65-9bbe-4fc6-9a19-e6cefefa0821",
      "name": "Transcribe Voice to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -528,
        -112
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "vtm0PxS7PEytNf7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b324a329-3c49-4f7f-b683-74331b7fe7f8",
              "name": "=text",
              "type": "string",
              "value": "={{$json.message.text}}"
            },
            {
              "id": "0b2a1940-9137-4b2c-8920-da15838c65ca",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0dccf5eb-0cf4-466b-8641-6ea20fba0fc8",
      "name": "Prepare for LLM",
      "type": "n8n-nodes-base.set",
      "position": [
        -640,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"content\":        { \"type\": \"string\" },\n      \"priority\":       { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 4 },\n      \"due_date_time\":  { \"type\": \"string\" }\n    },\n    \"required\": [\"content\", \"priority\", \"due_date_time\"],\n    \"additionalProperties\": false\n  }\n}\n",
        "autoFix": true
      },
      "id": "e6fa1281-a19c-4404-b79b-4f62f487483f",
      "name": "Extract Tasks",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -208,
        176
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "2357619164",
          "mode": "list",
          "cachedResultName": "My work"
        },
        "content": "={{ $json.output[0].content }}",
        "options": {
          "dueDateTime": "={{ $json.output[0].due_date_time }}",
          "priority": "={{ $json.output[0].priority }}"
        }
      },
      "id": "a418ef93-8be3-4629-a270-3d2fd51f8fd5",
      "name": "Create Todoist Tasks",
      "type": "n8n-nodes-base.todoist",
      "position": [
        64,
        -16
      ],
      "typeVersion": 2.1,
      "credentials": {
        "todoistApi": {
          "id": "7xBsWcPuAs9podgb",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Telegram Messages').item.json.message.chat.id }}",
        "text": "=Task : {{ $json.content }} Task Link :{{ $json.url }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6d68d8fc-b265-42b8-bee7-f16e8f423e40",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "position": [
        240,
        -16
      ],
      "webhookId": "5699aecd-e061-4b7f-af7b-4a23eb7201c6",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "GnA8SFsjMyNBe5Yg",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Tasks": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text?": {
      "main": [
        [
          {
            "node": "Fetch Voice Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create Todoist Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for LLM": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Tasks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Voice Message": {
      "main": [
        [
          {
            "node": "Transcribe Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todoist Tasks": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice to Text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Telegram Messages": {
      "main": [
        [
          {
            "node": "Voice or Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3e4f1f4-2480-4066-a214-61dcd8de75de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84971ef641a3297c643833672d05bae6561c8287ae8750de0ce1ba62ed6dc806"
  },
  "id": "bh6agatw44gJHPkE",
  "tags": []
}
