Agents/HR AI Agent.json
{
  "name": "HR AI Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        112
      ],
      "id": "1dca1115-c3a9-46de-b1f2-08d444beadcc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "HzRkRnFZ5FVr5WQU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Apply",
              "description": "Contains a job application from a candidate seeking a position at our organization"
            },
            {
              "category": "Doesn't apply",
              "description": "The candidate is not a job application"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        464,
        64
      ],
      "id": "d50795ce-64ad-45a0-8580-14d2e57b3f89",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        128
      ],
      "id": "9c31c01b-3295-41e3-b495-ff3c2bdbafac",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f33fdcc7-8cbd-4407-a99a-6f43b2296be2",
                    "leftValue": "attachment_0",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2595098f-28e5-4e77-b960-0c64e24a99ba",
                    "leftValue": "attachment_0",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        608
      ],
      "id": "947bba8b-aede-48de-ba29-cdff41954eca",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        720
      ],
      "id": "9160d609-5096-4746-9489-c6129ee63f51",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        944,
        672
      ],
      "id": "5821c6d6-7bb3-4b41-b6eb-4376383ce80f",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the current information from the received candidate and score between 0 to 10 the said candidate, 0 meaning not a good fit for the position, 10 being outstanding for the job.\n\nJob Description: Business Development Representative (BDR) Role for Lead Gen Man | Remote/Hybrid\n\nAbout Us  \nAt Lead Gen Man, we don’t do boring B2B marketing. We’ve redefined what lead generation means with B-Skool — the no-BS, all-results system that’s helped 1,500+ members generate over 17,000 sales. From DFY outreach systems to expert coaching and plug-and-play templates, we’re all about helping people close deals faster.\n\nForget lectures and outdated playbooks — we move fast, test faster, and build lead machines that never stop.\n\nRole Overview  \nWe’re looking for a Sales Development Representative (SDR) who’s hungry to learn, focused on outcomes, and ready to drive pipeline growth. You’ll lead with research, outreach, and qualification to keep discovery calls flowing and calendars full.\n\nThis role is about momentum and execution — not checking boxes.\n\nWhat You’ll Be Doing  \n- Research and identify ideal prospects using platforms like Clay, Apollo, and LinkedIn  \n- Launch personalized, high-impact outreach via email, DMs, and phone  \n- Schedule discovery calls for the founder and sales team  \n- Maintain clean, accurate CRM records and activity tracking  \n\nWhat You Bring  \n- 1+ year of B2B sales experience (SaaS, AI, or agency background preferred)  \n- Strong verbal and written communication skills  \n- Comfortable navigating sales tools and CRM systems  \n- Solid understanding of enterprise buying behavior and automation tools  \n- Degree optional — performance matters more than paper  \n\nWhat We Offer  \n- Base salary: $100K–$150K plus commission  \n- Professional development budget  \n- Remote-first setup with flexible work hours  \n- Direct access to founder Manthan and a sharp, growth-minded team  \n\nSee the extracted PDF information: {{ $json.text }}\n\nProvide some key insight on why this candidate is a good fit for the position as well",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful HR assistant. Your goal is to analyze the CV of the candidate and see if the candidate is a good candidate for the position."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        288,
        1008
      ],
      "id": "62e21872-49ed-4bd7-837f-cbb4fde9907c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n \"candidate\": {\n   \"first_name\": \"string\",\n   \"last_name\":\"string\",\n   \"email\": \"string\",\n   \"location\": \"string\",\n   \"phone\": \"string\"\n },\n \"summary\": {\n   \"years_experience\": \"number\",\n   \"current_role\": \"string\", \n   \"key_achievements\": [\"string\"],\n   \"technical_skills\": [\"string\"]\n },\n \"fit_score\": {\n   \"overall\": \"number\",\n   \"breakdown\": {\n     \"experience\": \"number\",\n     \"technical_skills\": \"number\", \n     \"achievements\": \"number\",\n     \"education\": \"number\"\n   },\n   \"reasoning\": [\"string\"]\n }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        464,
        1232
      ],
      "id": "212f7115-180a-4e2e-aa26-e18d5b0f681a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "Trigger when new CV received in our email",
        "height": 460,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        0
      ],
      "typeVersion": 1,
      "id": "611e4579-34ee-4cc3-8d93-9b50a0fd9568",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Extract data from the CV",
        "height": 460,
        "width": 1140,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        464
      ],
      "typeVersion": 1,
      "id": "7f17885f-84c7-4b20-8cb1-26c22e154876",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Qualify the Individual",
        "height": 420,
        "width": 860,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        928
      ],
      "typeVersion": 1,
      "id": "99733702-39e3-4e86-9eda-3c302094b1bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        272
      ],
      "id": "a96a8dd0-436a-4e20-ac6b-125e5642a0a8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TaLMX9VJedhTEDkN",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=attachment_0",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1G2pGCVsScCiBm0Jp12zLupmJYehgm43Q",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1G2pGCVsScCiBm0Jp12zLupmJYehgm43Q",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        528
      ],
      "id": "91ea9cc1-ce8f-4ea3-a939-1145ea113d71",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CnrYdnl4mQQXgrAX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        544
      ],
      "id": "1c4b949e-f203-414a-96a1-cdfa68a2c2ee",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CnrYdnl4mQQXgrAX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        1216
      ],
      "id": "03443e95-1fbe-498b-b655-1ea604bf76e1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "TaLMX9VJedhTEDkN",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A5PnBjoIOTpbMoS-NWVz_jN-JZXCNv_4BPuTLvUIvvc",
          "mode": "list",
          "cachedResultName": "Hr Screening N8n Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5PnBjoIOTpbMoS-NWVz_jN-JZXCNv_4BPuTLvUIvvc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5PnBjoIOTpbMoS-NWVz_jN-JZXCNv_4BPuTLvUIvvc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.output.candidate.first_name }}",
            "Last Name": "={{ $json.output.candidate.last_name }}",
            "Email": "={{ $json.output.candidate.email }}",
            "Summary": "={{ $json.output.summary.years_experience }} of {{ $json.output.summary.current_role }}",
            "Email Content": "={{ $('Gmail Trigger').item.json.text }}",
            "CV": "={{ $('Upload file').item.json.webViewLink }}",
            "Scoring ": "=Overall Score:{{ $json.output.fit_score.overall }}\nExperience:{{ $json.output.fit_score.breakdown.experience }}\nTechnical Skills:{{ $json.output.fit_score.breakdown.technical_skills }}\nAchievements:{{ $json.output.fit_score.breakdown.achievements }}\nEducation:{{ $json.output.fit_score.breakdown.education }}",
            "Quick Read": "={{ $json.output.fit_score.reasoning[0] }}{{ $json.output.fit_score.reasoning[1] }}{{ $json.output.fit_score.reasoning[2] }}{{ $json.output.fit_score.reasoning[3] }}{{ $json.output.fit_score.reasoning[4] }}{{ $json.output.fit_score.reasoning[5] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Content",
              "displayName": "Email Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scoring ",
              "displayName": "Scoring ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quick Read",
              "displayName": "Quick Read",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        1008
      ],
      "id": "8f62d4fe-7f13-4ec3-9bcf-211cf7d1e5d9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "znx6sjoweXjWzsqL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79dc4532-f079-4519-9e0f-d4f55d0fb768",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d61e081ca631cad9fdf34e5708aea814be64828de76292033579fc1dd3fc941"
  },
  "id": "sSooohi8JwglfOv1",
  "tags": []
}